POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=ecommerce
ConnectionStrings__EcommerceDb=Host=ecommerce-db;Port=5432;Database=ecommerce;Username=postgres;Password=change-me;Trust Server Certificate=true
